
.typing_screen{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    color: grey;
    background-color: grey;
}
.card_text{
    white-space: pre-wrap;
    margin:auto;
    /* font-family: monospace; */
    padding: 24px;
    /* color: blue; */
    font-size: large;
    font-weight: bold;
    color: grey
}
.finish_display_stats_card{
    /* align-items: center;
    justify-content: center; */
    margin:auto;
    width: 80%;
    height: 100%;
    text-align: center;
    padding:24px;
    background-color: lightgray;
    font-size: xx-large;
    font-weight: bolder;
    color: grey
}
.retry_button{
    background-color: lightpink;
    color: grey;
    margin:5px
}
.all_time_stats_card{
    margin:auto;
    width: 100%;
    height: 100%;
    padding:24px;
    /* background-color: lightblue; */
    background-color: lightgray;
    font-size: xx-large;
    font-weight: bolder;
    color: black
}